* {
  /* background-color: white; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.align-ment{
    display: flex;
    align-items: center;
    justify-content: center;
  }
.contact{
  width: 400px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 500px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 20px 20px;
  align-items: center;


}
.contact-heading{
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: saddlebrown;
}
input,textarea{
  width: 100%;
  height: 50px;
  border: 1px solid saddlebrown;
  border-radius: 15px;
}
textarea{
  resize: vertical;
  min-height:150px ;
  max-height: 200px;
}
.btn{
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: 1px solid sandybrown;
  background: saddlebrown;
  color: rgb(247, 193, 146);
}
footer{
  background-color: sienna;
  margin-top: 10px;
  height: 133px;
  font-size: 1.8rem;
  color: rgb(56, 28, 3);
  text-align: center;
  padding: 20px;
}
.social-links{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.social-links a{
  text-decoration: none;
  color: sandybrown;
}