* {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact{
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
