* {
  margin: 0;
}
 /*About Section  */
 .about {
     padding: 5% 5%;
     background: #2c1810;
     color: #f5f5f5;
 }
 .about-container {
     max-width: 1400px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 64px;
     align-items: center;
 }
 /* Image box */
  .about-container {
    width: 100%;
    height: 500px;
    border-radius: 18px;

  }


