* {
  margin: 0;
}

.product{
  padding: 5rem 5;
  background: #f9f5f0;
}

.section-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #2c1810;
}
.section-subtitle {
  text-align: center;
  font-size: 1rem;
  color: #f9f5f0;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  max-width: 1400px;
  margin: 0 auto;
}
 .product-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  cursor: pointer;


 }
 .product-card:hover{
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);

 }
 .product-image{
  width: 100%;
  height: 300px;
  background: linear-gradient(135deg,#6b5444,#4a3728);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #d4a574;
 }
 .product-info{
  padding: 2rem;
 }
 .product-info h3{
  font-size: 1.5rem;
  color: #d4a574;
  
 }
 .product-info p{
  color: #6b5444;

 }
 .product-price {
  font-size:1.5rem;
  color: #d4a574;
  font-weight:bold;
 }