* {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact{
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
}
.contact-form{
  display: flex;
  justify-self: center;
  align-items: center;
  box-shadow: 5px;
}
input{
  width: 100%;
  height: 40px;
}
textarea{
  width: 100%;
}
.btn{
  width: 100%;
  height: 40px;
}