* {
  /* background-color: white; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.align-ment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
.contact{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 800px;
  box-shadow: 0 10px 50px rgba(0,0,0,0.1);
  border-radius: 20px;
  padding: 100px 10px;
  align-items: center;


}
label{
  font-size: 1.5rem;
}
.contact-heading{
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 3px;
  color: saddlebrown;
}
input,textarea{
  width: 100%;
  height: 80px;
  border: 1px solid saddlebrown;
  border-radius: 15px;
  font-size:1.2rem ;
}
textarea{
  resize: vertical;
  min-height:250px ;
  max-height: 300px;
}
.btn{
  width: 100%;
  height: 60px;
  border-radius: 15px;
  border: 1px solid sandybrown;
  background: saddlebrown;
  color: rgb(243, 237, 232);
  font-size: 1.8rem;
}
footer{
  background-color: sienna;
  margin-top: 10px;
  height: 133px;
  font-size: 1.8rem;
  color: rgb(56, 28, 3);
  text-align: center;
  padding: 20px;
}
.social-links{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.social-links a{
  text-decoration: none;
  color: sandybrown;
}